/* card.css */

.card-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #f3f4f6;
  }
  
  .card-background {
    position: relative;
    height: 40vh;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .card-background {
      height: 50vh;
    }
  }
  
  .card-content {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  
  @media (min-width: 768px) {
    .card-content {
      flex-direction: row;
      gap: 3rem;
    }
  }
  
  .card {
    width: 18rem;
    height: auto;
    background: linear-gradient(to right, #065f46, #1e3a8a, #065f46);
    border-radius: 1rem;
    box-shadow: 0px 8px 16px rgba(0, 255, 0, 0.4);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 255, 0.4);
  }
  
  .card-image {
    height: 10rem;
    width: 15rem;
    
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.7s ease;
  }
  
  .card-image:hover {
    transform: scale(1.25);
  }
  
  .card-title {
    color: black;
    font-weight: 800;
    font-size: 1rem;
    margin-top: 1rem;
    transition: transform 0.5s ease, color 0.3s ease;
    cursor: pointer;
  }
  
  .card-title:hover {
    transform: translateX(0.5rem);
    color: #065f46;
  }
  
  @media (min-width: 640px) {
    .card {
      width: 20rem;
    }
  
    .card-title {
      font-size: 1.125rem;
    }
  }
  
  @media (min-width: 1024px) {
    .card {
      width: 24rem;
    }
  
    .card-title {
      font-size: 1.25rem;
    }
  }
  